.title-1{
text-align: center;
color: red;
font-size: 20px;
}

.title-2{

  font-size: 10px;
  color: ;
}

.title-3{
  font-size: 20px;
}

.title-4{
  text-align: center;
  color: red;
}

.title-5{
  text-align: center;
  color: red;
}





























